
body {
   background: #0F5D66;

}

#title {
    color: #FCFF91;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin: 10vh;

}

#top-shelf {
    color: #8FD1A2;
    font-size: 35px;
    margin: 10vh;
    width: 50%;
    font-family: 'Urbanist', sans-serif;
}

#documentaion {
    color: #000000;
    background: #F3F3F3;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;

}

.title {
    margin: 10vh;
    padding: 20px;
    font-size: 27px;
    font-family: 'Urbanist', sans-serif;
}

label {
    font-weight: 700;
    padding: 10px;
    margin-bottom: 10px;
}

.left-table {
    position: absolute;
    margin-bottom: 250px;
    margin-left: 55%;
}

input[type=text], textarea {
width: 25%;
padding: 12px 20px;
margin: 8px 10px;
display: list-item;
border-radius: 8px;
font-family: 'Urbanist', sans-serif;
font-weight: 600;

}

button {
  background-color: #04AA6D;
  font-size: 25px;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width: 15%;
}

select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: list-item;
    border-radius: 8px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}

button:hover {
  opacity: 0.9;
}


