* {
  box-sizing: border-box;
}
:root {
    --background = rgba(85, 214, 170, .85)
}

html, body {
  height: 100%;
}

body {
   background: #0F5D66;
   margin: 0px;
}

#title {
    color: #a2d173;
    font-family: 'Qahiri', sans-serif;
    margin-top: 250px;
    margin-bottom: 200px;
    font-weight: 700;
    font-size: 300px;
    text-align: center;

}

#top-shelf {
    color: #8FD1A2;
    font-size: 35px;
    margin: auto;
    width: 50%;
    font-family: 'Urbanist', sans-serif;
}

.subhead {
    color: #8FD1A2;
}

.dashboard {
    text-align: center;
}

.dash-item {
    color: #FCFF91;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.dash-item:hover {
    font-size: 30px;
    color: #ff7df0;
}



#shape {
     width: 420px;
     margin-top: 15%;
     margin-left: 45vh;
     height: 200px;
     background: red;
     background-image: url("img/scoob.jpeg");
     position: relative;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
}

#shape:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-right: 26px solid;
  border-bottom: 23px solid transparent;

}

#submit {
  background-color: #04AA6D;
  font-size: 25px;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width: 15%;
}

form {
   margin-left: 33.333%;
}

.form {
    position: relative;

}

.title {
    font-size: 27px;
    color: #ffffff;
    font-family: 'Urbanist', sans-serif;
}

.title h1 {
    text-align: center;
    color: #FCFF91;
}

.title h2 {
    text-align: center;
}

.information {
    color: #FCFF91;
}

label {
    font-weight: 700;
    padding: 10px;
    margin-bottom: 10px;
}

.review-layout {
    padding: 5rem 0;
}

.review_layout::after {

}

.show-review {
    content: "";
    display: block;
    clear: both;
}

.profile-pic {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}



label {
    color: #FCFF91;
}


.editor {
    margin-right: 25%;

}

.left-table {
    position: absolute;
    margin-bottom: 250px;
    margin-left: 55%;
}

input[type=text], textarea {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: list-item;
    border-radius: 8px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;

}

button {
  background-color: #0F5D66;
  font-size: 25px;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  border: 5px solid #8FD1A2;
  border-radius: 5px;
  cursor: pointer;
  width: 15%;
}

button::hover {

}
.profile-edit-btn {
    color: white;
}
.btn-primary {
  background-color: #0F5D66;
  font-size: 25px;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
  margin-top: 20px;
  margin-left: 10px;
  border: 5px solid #8FD1A2;
  cursor: pointer;
  width: 15%;

}

.btn {
  background-color: #0F5D66;
  font-size: 25px;
  color: white;
  padding: 14px 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
  border: 5px solid #8FD1A2;
  cursor: pointer;
  width: 15%;
}

#hamburger {
    background-color: transparent;
    color: #8FD1A2;
    border: 0px;
    display: none;
    cursor: pointer;
}

#hamburger::hover {
    background-color: #a2d173;
}

.gnomes {
    min-width: 100%;
    margin: 0%;
    padding-top: 10%;
    border-radius: 1%;
}

select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: list-item;
    border-radius: 8px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}

button:hover {
  opacity: 0.9;
}

btn:hover {
  opacity: 0.9;
}




.card {
	 color: inherit;
	 cursor: pointer;
	 width: calc(33% - 3rem);
	 min-width: calc(33% - 3rem);
	 height: 400px;
	 min-height: 400px;
	 perspective: 1000px;
	 margin: 1rem auto;
	 position: relative;
}



.avatar-image {
    max-width:20%;
    font-weight: 600;
    padding-bottom: 25px;
    height:auto;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

img {
    max-width:20%;
    height:auto;
    padding-top: 10px;

}

.meta {
    margin: 50px;
}



.nav-container {
    background-color: white;
    text-align: center;
    position: fixed;
    margin: 50px;
}

nav {
    position: fixed;
    color: white;
    margin: 50px;
    text-align: left;
    top: 100%;
    left: 0%;
}

ul {
    list-style-type: None;
}

.navlist {
    padding-bottom: 20px;
    list-style-type: None;
    margin: 0px;
    margin-bottom: 69px;
    background-color: #0F5D66;
    font-size: 27px;
    font-family: 'Urbanist', sans-serif;
}

.comment-a {
    color: #8FD1A2;
    font-size: 20px;
    text-decoration: none;
    padding: 0px;

}
li {
    float: right;
}

li a {
  display: block;
  color: #FCFF91;
  text-decoration: none;
  padding: 24px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #a2d173;
  color: white;
}

.bot-page-title {
    color: #FCFF91;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 10vh;
}

.comment-section {
    padding:0;
    background-color: white;
    margin-left: 34%;
    max-height:200px;
    max-width: 500px;
    overflow:auto;
}
.commentList {
    margin:0;
    float: left;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-top: 10px;
}

.commenter-a {
    padding: 0px;
}

.commentText p {
    width: 100%;
    color: black;
    margin: 7px 0px 2px 0px;
    display: inline-block;
}

.commentText .commenter-name {
    color: #8FD1A2;
    font-size: 20px;

}

.commenter-name:hover {
    color: #FCFF91;
}



.comment {
    margin: 0px;
    font-size: 20px;
}



@media screen and (max-width: 767px) {
    .navlist {
        display: none;
        flex-direction: column;
    }
    .navlist.show {
        display: flex;
        padding-left: 0px;

    }
    #hamburger {
        display: block;
        margin-bottom: 25px;
        maring-left: 0px;
        width: 25%;
    }

    #title {
        text-align:center;

    }

    #top-shelf {
        text-align: left;
    }

    input[type=text], textarea {
        width: 100%;
        padding: 10px 10px;
        margin-right: 33%;
        display: list-item;
        border-radius: 8px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 600;

    }

    form {
        width: 100%;
        margin-left: 0%;
        padding: 35px;
    }

    .comment-section {
        width: 100%;
        margin: 0px;
    }

    .form-control {
        width: 100%;

    }
    .card {
        width: 100%
    }
    .back {
        width: 100%;
        margin: 0px;
    }

    .comment-form {
        margin: 0px;
        width: 100%;
        padding: 0px;
    }

    .container {
        width: 100%;
        margin: 0px;
        padding-right: 0px;
    }

    button {
        width: 100%;


    }

    .btn {
        width: 100%;

    }

    .btn-primary {
        width: 100%;
    }

    #submit {
        width: 100%;
    }

    h2 {
        display: flex;
        padding: 10px;
    }
}


