* {
  box-sizing: border-box;
}
:root {
    --background = rgba(85, 214, 170, .85)
}

html, body {
  height: 100%;
}

body {
   background: #0F5D66;
}

#title {
    color: #FCFF91;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin: 10vh;

}

#top-shelf {
    color: #8FD1A2;
    font-size: 35px;
    margin: 10vh;
    width: 50%;
    font-family: 'Urbanist', sans-serif;
}

#documentaion {
    color: #000000;
    background: #F3F3F3;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;

}



#shape {
     width: 420px;
     margin-top: 15%;
     margin-left: 45vh;
     height: 200px;
     background: red;
     background-image: url("img/scoob.jpeg");
     position: relative;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
}
#shape:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-right: 26px solid;
  border-bottom: 23px solid transparent;

}

#submit {
  background-color: #04AA6D;
  font-size: 25px;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width: 15%;
}

form {
   margin-left: 35%;
}

.form {
    position: relative;

}

.title {
    font-size: 27px;
    color: #ffffff;
    font-family: 'Urbanist', sans-serif;
}

.title h1 {
    text-align: center;
    color: #FCFF91;
}

.title h2 {
    text-align: center;
}

.information {
    color: #FCFF91;
}

label {
    font-weight: 700;
    padding: 10px;
    margin-bottom: 10px;
}

.review-layout {
    padding: 5rem 0;
}

.review_layout::after {

}

.show-review {
    content: "";
    display: block;
    clear: both;
}

.profile-pic {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.card2 {
    width: 1000px;
    height: 800px;
    border: 2px solid gray;
    border-radius: 5%;
    margin-left: 15vh;
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    background-image: url('img/uninicornII.jpeg');
}

.card2::after {
    width: 1000px;
    color: #ffffff;
    background-color: #04AA6D;
    background-image: url('img/uninicornII.jpeg');

}

.card2 {
    width: 1200px;
    height: 600px;
    border: 2px solid gray;
    border-radius: 1%;
    margin-left: 2.5vh;
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    background-image: url('img/uninicornII.jpeg');

}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
/*
.star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
.star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
*/
.left-table {
    position: absolute;
    margin-bottom: 250px;
    margin-left: 55%;
}

input[type=text], textarea {
width: 25%;
padding: 12px 20px;
margin: 8px 10px;
display: list-item;
border-radius: 8px;
font-family: 'Urbanist', sans-serif;
font-weight: 600;

}

button {
  background-color: #04AA6D;
  font-size: 25px;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  border: 2px solid;
  border-radius: 2%;
  cursor: pointer;
  width: 15%;
}

button::hover {

}
.profile-edit-btn {
    color: white;
}
.btn-primary {
  background-color: #04AA6D;
  font-size: 25px;
  color: white;
  padding: 14px 20px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width: 15%;
}

.gnomes {
    min-width: 100%;
    margin: 0%;
    padding-top: 10%;
    border-radius: 1%;
}

select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: list-item;
    border-radius: 8px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}

button:hover {
  opacity: 0.9;
}

btn:hover {
  opacity: 0.9;
}
.container {
    background-color: #ffffff;
    padding: 25px;
    text-align: center;
    margin-left: 35%;
    margin-bottom: 150px;
    width: 15%;
    border-radius: 2%;
}



.avatar-image {
    max-width:20%;
    font-weight: 600;
    padding-bottom: 25px;
    height:auto;

}
img {
    max-width:20%;
    height:auto;
    padding-top: 10px;

}

.meta {
    margin: 50px;
}



.nav-container {
    background-color: white;
    text-align: center;
    position: fixed;
    margin: 50px;
}

nav {
    position: fixed;
    color: white;
    margin: 50px;
    text-align: left;
    top: 100%;
    left: 0%;
}

ul {
    list-style-type: None;
}

.navlist {
    padding-bottom: 20px;
    list-style-type: None;
    margin: 0px;
    margin-bottom: 69px;
    background-color: #0F5D66;
    font-size: 27px;
    font-family: 'Urbanist', sans-serif;
}

li {
    float: right;
}

li a {
  display: block;
  color: #FCFF91;
  text-decoration: none;
  padding: 24px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #a2d173;
  color: white;
}

.bot-page-title {
    color: #FCFF91;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 10vh;
}