{% include "site.html" %}
{% include "navbar.html" %}
<div class="title">
<form action="{{ url_for('create_account_html') }}" method="post">
    <label>Username</label>
    <input type="text" placeholder="name" name="username">
    <label>Password</label>
    <input type="text" placeholder="password" name="password">
    <label>Email</label>
    <input type="text" placeholder="email" name="email">
    <label>Profile Pic URL (optional)</label>
    <input type="text" placeholder="url for your profile pic" name="img_url">
    <button>ok....</button>
</form>

</div>
