{% include "site.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "navbar.html" %}

<div class="title">
<div class="container">

    <div class="post-heading">
            <h1>"{{post.title}}"</h1>
            {% if show_author != None: %}
            <p>-{{ show_author.username }}</p>
            {% else: %}
            <p>-Spongebob</p>
            {% endif %}
            <h2 class="subheading">Venue </h2>
            <p>{{post.venue.venue_name}}</p>
            <h2>Review</h2>
            <p>{{post.review}}</p>
        </div>


</div>
<div class="comment-section">
    <h2 class="comment-title">Comments</h2>
    <ul class="commentList">
        {% for comment in comments: %}
        <li>
            <div class="commenterImage">

            </div>
            <div class="commentText">
                <p>{{ comment.text|safe }}</p>
            </div>
            <div class="avatar-image">
                <span>{{ comment.comment_author.username }}</span>
                <img src="{{ url_for('static', filename='img/scoob.jpeg')}}"/>
            </div>
        </li>
        {% endfor %}
    </ul>
    {{ ckeditor.load(pkg_type="basic") }}
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
</div>
</div>
