{% include "site.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "navbar.html" %}

<div class="title">
<div class="container">

    <div class="post-heading">
            <h1>"{{post.review_title}}"</h1>
            {% if review_author != None: %}
            <p>-{{ review_author.username }}</p>
            {% else: %}
            <p>-Spongebob</p>
            {% endif %}
            <h2 class="subheading">Venue </h2>
            <p>{{post.venue_name}}</p>
            <h2>Review</h2>
            <p>{{post.review}}</p>
            <a href="{{ url_for('delete_venue_review', post_id=post.id ) }}"><button>delete review</button></a>
    </div>

</div>
<div class="comment-section">
    <h2 class="comment-title">Comments</h2>
    <ul class="commentList">
        {% for comment in comments: %}
        <li>
            <div class="commenterImage">

            </div>
            <div class="commentText">
                <p>{{ comment.text|safe }}</p>
            </div>
            <div class="avatar-image">
                <span>{{ comment.comment_author.username }}</span>
                <img src="{{ url_for('static', filename='img/scoob.jpeg')}}"/>
                <a href="{{ url_for('delete_comment', id=comment.venue_id, type='venue') }}"><button>Delete</button></a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
    {{ ckeditor.load(pkg_type="basic") }}
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    {% endif %}
</div>
</div>