<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local Shows API;</title>
    <link href="{{ url_for('static', filename='review-styles.css')}}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,600;0,700;1,100;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>

{% import "bootstrap/wtf.html" as wtf %}
{% include "navbar.html" %}




<div class="space"></div>
<div class="container">
  <div class="card">
    <div class="back">
        <div>
            <div class="title">"{{ post.review_title }}"</div>
            <p class="review"><span class="venue-name">Venue: </span>{{ post.venue_name }}</p>
            <p class="review"><span class="venue-name">City: </span>{{ post.parent_post.city }}</p>
            <p class="overview">{{ post.venue_review }}</p>
            <p class="review"><span class="venue-name">Post by </span>{{ post.user.username }}</p>
            {% if post.user_id == current_user.id: %}
            <a href="{{ url_for('edit_show_review', id=post.id) }}" class="button edit-btn">Edit</a>
            <a href="{{ url_for('delete_show_review', post_id=post.id) }}" class="button delete-btn">Delete</a>
            {% endif %}
        </div>
    </div>
  </div>
</div>
<div class="space"></div>
<div class="title">
<h2 class="comment-title">Comments</h2>
<div class="comment-section">

    <ul class="commentList">
        {% for comment in comments: %}

        <li class="commentLi">
            <div class="commentText">
                <p>{{ comment.text|safe }}</p>
                <a href="{{ url_for('show_profile', username=comment.comment_author.username) }}"><p class="commenter-name">{{ comment.comment_author.username }}</p></a>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
    {% if current_user.is_authenticated %}
        <form class="comment-form" action="{{ url_for('view_venue_review', id=post.id) }}" method="post">
            <label>Comment</label>
            <textarea id="venue-review" type="text" placeholder="say it dont spray it" style="width: 500px; height:200px" name="comment"></textarea>
            <button>share</button>
        </form>

    {% endif %}
</div>
<script>
    const hamburger = document.querySelector('#hamburger');
    const navUL = document.querySelector('.navlist');

    hamburger.addEventListener('click', () => {
        console.log('hi');
        navUL.classList.toggle('show');
});
</script>
{% include "footer.html" %}
